body {
    font-family: Ubuntu;
}
.container-fluid {
    position: relative;
}

/**************SIDE BAR*************************/
.left-sidebar {
    position: fixed;
    float: left;
    background: rgba(0, 0, 0, 1);
    height: 100%;
}

.logo {
    margin: -40px 0 0 0;
}

.slogan {
    color: white;
    text-align: center;
    font-family: Damion;
    font-weight: 100;
    font-size: 40px;
}

.contacts {
    text-align: center;
    padding: 20px;
}

.contacts p {
    color: white;
    font-size: 22px;
    font-family: Damion;
}

.contacts > p > a {
    color: white;
    text-decoration: none;
}

.contacts > p > a:hover {
    color: red;
}
.contacts > p > span {
    font-family: Raleway;
}

.nav {
    color: white;
    font-size: 20px;
    font-family: Ubuntu; 
    border-bottom: 1px solid rgba(255, 0, 0, .6);
}
.nav:hover {
    color: red;
}


/*****************************************SIDE BAR*************************/


/******************************MAIN CONTENT *******************************/

.page-content {
    position: relative;
    float: right;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 1);
    text-align: center;
    margin: auto 0;
}
.wrapper {
    height: 100%;
}
.main-quotes {
    color: white;
    font-family: Dancing Script;
    height: 350px;
    padding-top: 90px;
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .2)), url('https://snap-photos.s3.amazonaws.com/img-thumbs/960w/J66YF48JZM.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -350px;
}
.main-quotes h1 {
    font-size: 70px;
}
.wrapper p {
    color: white;
    font-size: 20px;
    padding: 0 20px;
    text-align: justify;
    font-family: Raleway;
}
.mainpage {
    height: 100%;
    padding: 30px;
}
.led {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://static.pexels.com/photos/20721/pexels-photo.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.social-media {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://static.pexels.com/photos/4152/apple-iphone-smartphone-technology.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.props {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('photobooth2.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.key {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('http://images.wisegeek.com/brass-key.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 300px;
}

footer {
    color: white;
    font-size: 40px;;
    font-family: Dancing Script;
    position: relative;
}
.red-text {
    color: red;
}

/******************************MAIN CONTENT *******************************/



/**********************************Sample Pic Page************************/
.well {
    background: rgba(0, 0, 0, .5);
    border: none;
}
.samples-page {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://static.pexels.com/photos/370/lights-night-dark-abstract.jpeg');
    background-size: cover;
    background-attachment: fixed;
}
.sample-pics {
    text-align: center;
}

/**********************************Sample Pic Page************************/





/***********************************Rates Page***************************/
.rates {
    border: 10px solid rgba(255, 255, 255, .5);
    overflow-y: hidden;
}

.rate-background {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://static.pexels.com/photos/370/lights-night-dark-abstract.jpeg');
    background-size: cover;
}
.rate-pic {
    margin-top: 20px;
}
.rate-quote {
    color: white;
    font-size: 15px;
    font-weight: 100;
}
/***********************************Rates Page***************************/

/***********************************Setup Page***************************/

.setup-background {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://static.pexels.com/photos/370/lights-night-dark-abstract.jpeg');
    background-size: cover;
    background-attachment: fixed;
}
li {
    list-style: disc;
}
.img-border {
    border: 15px solid rgba(0, 0, 0, .5);
}
.setup-quote {
    font-size: 30px;
    color: white;
    font-weight: 100;
}
.setup-quote2 {
    font-size: 22px;
    color: white;
    font-weight: 100;
}
.wrapper > li {
    list-style: none;
    margin: 10px;
}
/***********************************Setup Page***************************/




