body {
    font-family: Ubuntu;
}
.container-fluid {
    position: relative;
}

/**************SIDE BAR*************************/
.left-sidebar {
    position: fixed;
    float: left;
    background: rgba(0, 0, 0, 1);
    height: 100%;
}

.logo {
    margin: -10px;
}

.slogan {
    color: white;
    text-align: center;
    font-family: Damion;
    font-weight: 100;
    font-size: 40px;
}

.contacts {
    text-align: center;
    padding: 20px;
}

.contacts p {
    color: white;
    font-size: 16px;
}

.nav {
    color: white;
    font-size: 20px;
    font-family: Ubuntu; 
    border-bottom: 1px solid rgba(255, 0, 0, .6);
}
/*****************************************SIDE BAR*************************/


/******************************MAIN CONTENT *******************************/

.page-content {
    position: relative;
    float: right;
    padding: 20px;
    overflow-x: hidden;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('VintageBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin: auto 0;
}
.main-quotes {
    height: 700px;
    padding-top: 200px;
    color: white;
    font-family: Dancing Script;
}
.main-quotes h1 {
    font-size: 55px;
}

.main-quotes h3 {
    display: none;
    font-size: 20px;
    font-family: Raleway;
}
hr {
    margin-top: 300px;
}
/******************************MAIN CONTENT *******************************/



/**********************************Sample Pic Page************************/
.well {
    background: rgba(0, 0, 0, .5);
    border: none;
}
.samples-page {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('PixelsBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.sample-pics {
    text-align: center;
}

/**********************************Sample Pic Page************************/





/***********************************Rates Page***************************/
.rates {
    border: 10px solid rgba(255, 255, 255, .5);
    overflow-y: hidden;
}

.rate-background {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('PixelsBackground.jpg');
    background-size: cover;
}

.rate-pic {
    height: 100%;
    padding: 50px;
}
.rate-quote {
    color: white;
    font-size: 15px;
    font-weight: 100;
}
/***********************************Rates Page***************************/

/***********************************Setup Page***************************/

.setup-background {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('PixelsBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
}
li {
    list-style: disc;
}
.img-border {
    border: 15px solid rgba(0, 0, 0, .5);
}
.setup-quote {
    font-size: 30px;
    color: white;
    font-weight: 100;
}

/***********************************Setup Page***************************/




